@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap");
.main-content-wrap {
  grid-column: auto/span 8;
  margin-bottom: 50px;
}
.main-content-wrap .title {
  width: 100%;
  margin: 0;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: #000;
}
.main-content-wrap .title.name {
  font-size: 1.3rem;
}
.main-content-wrap .user-header {
  padding: 15px 15px 15px 30px;
  border: 1px solid #d5dfe8;
  border-radius: 10px;
  margin-bottom: 15px;
  position: relative;
  grid-row: auto/span 1;
  display: flex;
  align-items: center;
  background-color: #e9eef3;
}
.main-content-wrap .user-header:hover:not(.user-header) {
  background-color: #f6f8fa;
}
.main-content-wrap .user-header:hover:not(.user-header)::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  width: 15px;
  border-radius: 0 10px 10px 0;
  background-color: #515c67;
}
.main-content-wrap .user-header img {
  width: 100px;
  border-radius: 50%;
  margin: 15px;
}
.main-content-wrap .user-header .user-info {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  width: 100%;
}
.main-content-wrap .user-header .user-info .followers,
.main-content-wrap .user-header .user-info .following,
.main-content-wrap .user-header .user-info .stars {
  margin: 10px 15px 0 0;
}
.main-content-wrap .user-repo-wrap {
  grid-row: auto/span 5;
  display: flex;
  flex-direction: column;
}
.main-content-wrap .user-repo-wrap .user-repo {
  background-color: #fff;
  padding: 15px 15px 15px 30px;
  border: 1px solid #d5dfe8;
  border-radius: 10px;
  margin-bottom: 15px;
  position: relative;
}
.main-content-wrap .user-repo-wrap .user-repo:hover:not(.user-header) {
  background-color: #f6f8fa;
}
.main-content-wrap .user-repo-wrap .user-repo:hover:not(.user-header)::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  width: 15px;
  border-radius: 0 10px 10px 0;
  background-color: #515c67;
}
.main-content-wrap .user-repo-wrap .user-repo h3,
.main-content-wrap .user-repo-wrap .user-repo .repo-descr {
  font-size: 14px;
  margin: 5px 0 10px;
}
.main-content-wrap .user-repo-wrap .user-repo .repo-language,
.main-content-wrap .user-repo-wrap .user-repo .repo-update {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  margin-right: 10px;
}
