.student-list {
  width: 100%;
  display: flex;
  grid-column: 1;
  grid-row: span 6;
  flex-direction: column;
  max-height: 80vh;
  max-width: 300px;
  overflow: auto;
  white-space: nowrap;
  background-color: #fff;
}
.student-list .student {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #d5dfe8;
  color: #24292e;
  transition: all 0.2s ease;
  text-decoration: none;
}
.student-list .student:hover {
  background-color: #d7dce0;
}
.student-list .student img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin-left: 10px;
}
.student-list .student span {
  margin-left: 15px;
  line-height: 1rem;
}
