header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #24292e;
  color: #fff;
  padding: 20px 0;
}
header .search-box {
  display: flex;
  flex: 2;
}
header .search-box input {
  width: 250px;
  height: 30px;
  font-size: 1rem;
  outline-color: #dceeff;
  border: none;
  background-color: #ebf2fa;
}
header .logo {
  width: 40px;
  height: 40px;
  margin-left: 20px;
}
header span {
  display: flex;
  flex: 1;
  padding: 0 20px;
}
